.footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  background: transparent;
  box-shadow: 0 -5px 20px -5px rgba(2, 1, 1, 0.1);

  .copyright {
    opacity: 0.5;
  }
}
